
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>
<div>
    <h1>BİZ KİMİZ?</h1>
    <p>
        aslşdjasşkldjaslşkjdlşasjdaslşdjasşkldjaslşkjdlşasjdaslşdjasşkldjaslşkjdlşasjdaslşdjasşkldjaslşkjdlşasjdaslşdjasşkldjaslşkjdlşasjd
        aslşdjasşkldjaslşkjdlşasjdaslşdjasşkldjaslşkjdlşasjdaslşdjasşkldjaslşkjdlşasjdaslşdjasşkldjaslşkjdlşasjd
    </p>
</div>

