<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>

    <nav>
        <ul>
            <li><a href="#">AdminPanel</a></li>
            <li><a href="#">Anasayfa</a></li>
        </ul>
    </nav>

    <div id="container">
        @RenderBody()
    </div>
</body>
</html>
